from flask import Blueprint, request, jsonify, render_template
{% if data.name == 'root' %}
{{data.name}}= Blueprint('{{data.name}}', __name__)


@{{data.name}}.route('/')
def index():
    return render_template('index.html')
{% endif %}
{%- if data.name != 'root' %}
{{data.name}}= Blueprint('{{data.name}}', __name__)


@{{data.name}}.route('/')
def index():
    status_code = 200
    data = {
        'route': '{{data.name}} working'
    }

    return jsonify(data), status_code
{% endif %}
