[Unit]
Description = "Gunicorn API Service"
After = network.target

[Service]
PermissionsStartOnly = true
PIDFile = /run/{{project_name}}-api/{{project_name}}-api.pid
User = www-data
Group = www-data
WorkingDirectory = /var/www/{{project_name}}-api
ExecStartPre = /bin/mkdir /run/{{project_name}}-api
ExecStartPre = /bin/chown -R www-data:www-data /run/{{project_name}}-api
ExecStart = /usr/bin/gunicorn -w 1 -b :{{port}} __init__:app --pid /run/{{project_name}}-api/{{project_name}}-api.pid --log-file /var/www/{{project_name}}-api/gunicorn.log
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
ExecStopPost = /bin/rm -rf /run/{{project_name}}-api
PrivateTmp = true

[Install]
WantedBy = multi-user.target
